body {
    /* arka plan rengi çalışmadığı için important dedim */
    background-color: rgb(76, 99, 102) !important;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Indie Flower' !important;
    font-size: 50px;
    font-weight: 1000 !important;

}

h3 {
    color: white;
    font-family: 'Indie Flower';
    font-size: 30px;
    font-weight: 800 !important;
}

p,
textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: rgb(19, 73, 73) !important;
}

.all {
    width: 80%;
    height: 80%;
    position: absolute;
    /* ortalamak için top ve left */
    top: 20%;
    left: 10%;
}

.box {
    margin: 10px;
    font-size: 25px !important;
    border-radius: 10px;
    background-color: rgb(238, 227, 206);

}

.body {
    padding: 10px !important;
}

.head-to-do {
    background-color: yellowgreen;
    border-radius: 5px 5px;
    padding: 5px;
    text-align: center;
}

.head-completed {
    background-color: rgb(173, 62, 17);
    border-radius: 5px 5px;
    padding: 5px;
    text-align: center;
}

.btn-add {

    padding: 15px 15px;
}