* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkseagreen;
}

#logo {
    padding-left: 20px;
}

.btn-group {
    padding-right: 20px;
}

.btn-group a {
    text-decoration: none;
    color: rgb(247, 242, 242);
    color: black;
}

h1 {
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 60px;
    color: rgb(23, 52, 53);
}

h3 {
    position: absolute;
    color: rgb(23, 52, 53);
    top: 290px;
    left: 300px;
    font-size: 30px;
}

.inputdiv {
    position: absolute;
    top: 255px;
    left: 500px;
    text-align: center;

}

.text {
    position: absolute;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(128, 168, 162);
    text-align: center;

}

.text:hover {
    box-shadow: 1px 1px 3px 3px rgb(36, 89, 100);
}

.text input {
    border: none;
    width: 250px;
    height: 30px;
    outline: none;
    background-color: rgb(128, 168, 162);
}


#submit {
    position: absolute;
    color: antiquewhite;
    left: 310px;
    top: 5px;
    width: 50px;
    height: 35px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(9, 110, 9);
}

#submit:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px rgb(63, 116, 126);
}

#submit:active {
    background-color: rgb(96, 119, 54);
}

#drop {
    color: antiquewhite;
    position: absolute;
    left: 370px;
    top: 5px;
    height: 35px;
    width: 130px;
    border-radius: 3px;
    border: none;
    background-color: rgb(12, 64, 77);
}

#drop:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px rgb(63, 116, 126);
}

#drop:active {
    background-color: rgb(96, 119, 54);
}

#toplama {
    position: absolute;
    top: 310px;
    left: 600px;
    width: 300px;
}

.paragraf-style {
    border-radius: 5px;
    cursor: pointer;
    color: rgb(14, 8, 1);
    font-size: 25px;
    background-color: rgb(133, 141, 97);
    transition: 1000ms;
}

.paragraf-style:hover {
    background-color: rgb(78, 55, 11);
}